<div class="sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar-top">
      <a routerLink="/recommendations" routerLinkActive="active link-active" class="nav-item">
        <img src="assets/images/icons/job.svg" alt="Recommended Jobs">
        <span>Recommended Jobs</span>
      </a>
      
      <a routerLink="/applications" class="nav-item" routerLinkActive="active link-active">
        <img src="assets/images/icons/resume.svg" alt="Track your applications">
        <span>Track applications</span>
      </a>
      
      <a routerLink="/profile" class="nav-item" routerLinkActive="active link-active">
        <img src="assets/images/icons/profile-active.svg" alt="Profile">
        <span class="profile-text">Profile</span>
      </a>
    </div>
    
    <div class="sidebar-bottom">
      <a href="#" class="nav-item">
        <img src="assets/images/icons/feedback.svg" alt="Feedback">
        <span>Feedback</span>
      </a>
      
      <a href="#" class="nav-item">
        <img src="assets/images/icons/setting1.svg" alt="Settings">
        <span>Settings</span>
      </a>

    </div>
    
  </nav>
</div>